<article class="" role="article" itemscope itemtype="http://schema.org/Article">
  <div class="rounded-8 blogs__image">
    {% if article.image != blank %}
      {% assign image_url = article.image | image_url: width: 600 %}

      <a class="block image__link-container" href="{{ article.url }}" title="{{ article.title }}">
        {%
          render "component-image-2",
          image: article.image,
          src: image_url,
          alt: article.image.alt,
          aspect: "square",
          className: ""
        %}
      </a>
    {% else %}
      <a class="block" href="{{ article.url }}" title="{{ article.title }}">
        {{ "image" | placeholder_svg_tag }}
      </a>
    {% endif %}
  </div>

  <div class="mt-4 space-y-1 blogs__description">
    <div class="text-12 font-bold article_date_container">
      {% comment %} <span>{{ article.author }}</span> {% endcomment %}
      <span class="data_article">{{ article.published_at | time_tag: format: "month_day_year" }}</span>
    </div>

    <a class="block" href="{{ article.url }}" title="{{ article.title }}">
      <h4 class="text-20 sm:text-24 article__heading">{{ article.title }}</h4>
    </a>

    <div class="font-medium artcile__description">
      {{ article.excerpt | default: article.content | strip_html | truncatewords: 20, '...' }}
    </div>

    <a href="{{ article.url }}" class="flex items-center space-x-2 article__link">
      <span class="font-bold article_readmore">{{ "articles.general.read_more" | t }}</span>
      {% comment %} <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6" r="6" fill="#000"/><path d="m5 4 3 2-3 2" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/></svg> {% endcomment %}
    </a>
  </div>
</article>
