<style>
.player-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 688px;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  min-height: 345px;
  position: fixed;
  top: 5%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.modal .flex {
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn-close {
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 999;
}

.modal {
  z-index: 9999;
}

.hidden {
  display: none;
}

.tab_button{
  display: inline-flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color:  #A0A0A0;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
}

.active_modal_tab {
  border-bottom: 2px solid #012130;
  color: #1F1F1F;
}

.tab_container{
  margin-bottom: 39px;
}

table.player_table, th, td {
  background:#fff !important;
  color: #1F1F1F !important;
  border-collapse: collapse;
}

th {
  background-color:#C7FAFD !important;
}

table tr.player_tr:first-child th:first-child {
  background-color:#ffffff !important;
}

td.data_adult {
  padding: 11px !important;
}

.player_table.mobile{
  display: none;
}

@media (max-width: 600px){
  .modal {
    width: 100%;
    max-width: 360px;
  }

  th {
    background-color:#C7FAFD !important;
    color: #1F1F1F;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.24px;
  }

  th.firstcolum {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  td.data_adult {
    padding: 12px !important;
    text-align: center !important;
    color: #1F1F1F;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.26px;
    min-width: 93px;
  }

  td.data_youth {
    padding: 12px !important;
    text-align: center !important;
    min-width: 93px;
    color: #1F1F1F;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.26px;
  }

  .player_table.desktop{
    display: none;
  }

  .player_table.mobile{
    display: block;
  }
}
</style>

<section class="player-modal">
  <div class="modal hidden">
    <div class="flex">
      <button class="btn-close">{%  render 'close-icon-player' %}</button>
    </div>

    <div>
      <div class="w3-bar w3-black tab_container">
        <button class="tab_button active_modal_tab" id="tab_Youth" onclick="openCity('Youth')">For Youth</button>
        <button class="tab_button" id="tab_Adult"  onclick="openCity('Adult')">For Adult</button>
      </div>
          
      <div id="Youth" class="w3-container city">
        <table style="width:100%" class="player_table desktop">
          <tr class="player_tr">
            <th></th>
              {% assign youth_first_row_headings = youth_first_row_heading | split: "," %}
    
              {% for yfr_heading in youth_first_row_headings %}
                {% if forloop.index == 1 %}
                  <th>{{yfr_heading}}</th>
                {% elsif forloop.index == 2 %}
                  <th>{{yfr_heading}}</th>
                {% elsif forloop.index == 3 %}
                  <th>{{yfr_heading}}</th>
                {% endif %}
              {% endfor %}
          </tr>

          {% assign youth_headings = youth_first_column_heading | split: "," %}
          {% assign youth_table_data_first_row = youth_table_data_first_row | split: "," %}
          {% assign youth_table_data_second_row = youth_table_data_second_row | split: "," %}

          {% for youth_heading in youth_headings %}
            {% if forloop.index == 1 %}
              <tr>
                <th class="firstcolum">{{ youth_heading }}</th>
                  
                  {% for youth_fr in youth_table_data_first_row %}
                    {% if forloop.index == 1 or forloop.index == 2 or forloop.index == 3 %}
                      <td class="data_youth">{{youth_fr}} </td>
                    {% endif %}
                  {% endfor %}
              </tr>

            {% elsif forloop.index == 2 %}
              <tr>
                <th  class="firstcolum">{{ youth_heading }}</th>

                  {% for youth_sr in youth_table_data_second_row %}
                    {% if forloop.index == 1 or forloop.index == 2 or forloop.index == 3 %}
                      <td class="data_youth"> {{youth_sr}}</td>
                    {% endif %}
                  {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}
        </table>

              <!-- mobile youth -->
        <table style="width:100%" class="player_table mobile">
          <tr class="player_tr">
            <th></th>
            {% for youth_heading in youth_headings %} 
              {% if forloop.index == 1 %}
                <th>{{youth_heading}}</th>
              {% elsif forloop.index == 2 %}
                <th>{{youth_heading}}</th>
              {% endif %}
            {% endfor %}
          </tr>

          {% for  yfr_heading in youth_first_row_headings %}
            {% if forloop.index == 1 %}
              <tr>
                <th class="firstcolum">{{ yfr_heading }}</th>
                {% for youth_fr in youth_table_data_first_row %}
                  {% if forloop.index == 1 %}
                    <td class="data_youth">{{ youth_fr }}</td>
                  {% endif %}
                {% endfor %}

                {% for youth_fr in youth_table_data_second_row %}
                  {% if forloop.index == 1 %}
                    <td class="data_youth">{{ youth_fr }}</td>
                  {% endif %}
                {% endfor %}
              </tr>

            {% elsif forloop.index == 2 %}
              <tr>
                <th class="firstcolum">{{ yfr_heading }}</th>
                {% for youth_fr in youth_table_data_first_row %}
                  {% if forloop.index == 2 %}
                    <td class="data_youth">{{ youth_fr }}</td>
                  {% endif %}
                {% endfor %}

                {% for youth_fr in youth_table_data_second_row %}
                  {% if forloop.index == 2 %}
                    <td class="data_youth">{{ youth_fr }}</td>
                  {% endif %}
                {% endfor %}
              </tr>

            {% elsif forloop.index == 3 %}
              <tr>
                <th class="firstcolum">{{ yfr_heading }}</th>
                {% for youth_fr in youth_table_data_first_row %}
                  {% if forloop.index == 3 %}
                    <td class="data_youth">{{ youth_fr }}</td>
                  {% endif %}
                {% endfor %}

                {% for youth_fr in youth_table_data_second_row %}
                  {% if forloop.index == 3 %}
                    <td class="data_youth">{{ youth_fr }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}
        </table>
              <!-- end mobile youth -->
      </div>
          
      <div id="Adult" class="w3-container city" style="display:none">
        <table style="width:100%" class="player_table desktop">
          <tr class="player_tr">
            <th></th>
            {% assign adult_first_row_headings = adult_first_row_heading | split: "," %}
    
            {% for afr_heading in adult_first_row_headings %}
              {% if forloop.index == 1 %}
                <th>{{afr_heading}}</th>
              {% elsif forloop.index == 2 %}
                <th>{{afr_heading}}</th>
              {% elsif forloop.index == 3 %}
                <th>{{afr_heading}}</th>
              {% elsif forloop.index == 4 %}
                <th>{{afr_heading}}</th>
              {% elsif forloop.index == 5 %}
                <th>{{afr_heading}}</th>
              {% endif %}
            {% endfor %}
          </tr>

          {% assign adult_headings = adult_first_column_heading | split: "," %}
          {% assign adult_table_data_first_row = adult_table_data_first_row | split: "," %}
          {% assign adult_table_data_second_row = adult_table_data_second_row | split: "," %}

          {% for adult_heading in adult_headings %}
            {% if forloop.index == 1 %}
              <tr>
                <th class="firstcolum">{{ adult_heading }}</th>
                {% for adult_fr in adult_table_data_first_row %}
                  {% if forloop.index == 1 or forloop.index == 2 or forloop.index == 3 or forloop.index == 4 or forloop.index == 5 %}
                    <td class="data_adult">
                    {{adult_fr}}
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% elsif forloop.index == 2 %}
              <tr>
                <th class="firstcolum">{{ adult_heading }}</th>
                {% for adult_fr in adult_table_data_second_row %}
                  {% if forloop.index == 1 or forloop.index == 2 or forloop.index == 3 or forloop.index == 4 or forloop.index == 5 %}
                    <td class="data_adult">
                        {{adult_fr}}
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}
        </table>


        <table style="width:100%" class="player_table mobile">
          <tr class="player_tr">
            <th></th>
            {% for adult_heading in adult_headings %}
              {% if forloop.index == 1 %}
                <th>{{adult_heading}}</th>
              {% elsif forloop.index == 2 %}
                <th>{{adult_heading}}</th>
              {% endif %}
            {% endfor %}
          </tr>
            
          {% for afr_heading in adult_first_row_headings %}
            {% if forloop.index == 1 %}
              <tr>
                <th class="firstcolum">{{ afr_heading }}</th>
                {% for adult_fr in adult_table_data_first_row %}
                  {% if forloop.index == 1 %}
                    <td class="data_adult">{{ adult_fr }}</td>
                  {% endif %}
                {% endfor %}

                {% for adult_sr in adult_table_data_second_row %}
                  {% if forloop.index == 1 %}
                    <td class="data_adult">{{ adult_sr }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% elsif forloop.index == 2 %}
              <tr>
                <th class="firstcolum">{{ afr_heading }}</th>
                {% for adult_fr in adult_table_data_first_row %}
                  {% if forloop.index == 2 %}
                    <td class="data_adult">{{ adult_fr }}</td>
                  {% endif %}
                {% endfor %}

                {% for adult_sr in adult_table_data_second_row %}
                  {% if forloop.index == 2 %}
                    <td class="data_adult">{{ adult_sr }}</td>
                  {% endif %}
                {% endfor %}
              </tr>

            {% elsif forloop.index == 3 %}
              <tr>
                <th class="firstcolum">{{ afr_heading }}</th>
                {% for adult_fr in adult_table_data_first_row %}
                  {% if forloop.index == 3 %}
                    <td class="data_adult">{{ adult_fr }}</td>
                  {% endif %}
                {% endfor %}

                {% for adult_sr in adult_table_data_second_row %}
                  {% if forloop.index == 3 %}
                    <td class="data_adult">{{ adult_sr }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% elsif forloop.index == 4 %}
              <tr>
                <th class="firstcolum">{{ afr_heading }}</th>
                {% for adult_fr in adult_table_data_first_row %}
                  {% if forloop.index == 4 %}
                    <td class="data_adult">{{ adult_fr }}</td>
                  {% endif %}
                {% endfor %}

                {% for adult_sr in adult_table_data_second_row %}
                  {% if forloop.index == 4 %}
                    <td class="data_adult">{{ adult_sr }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% elsif forloop.index == 5 %}
              <tr>
                <th class="firstcolum">{{ afr_heading }}</th>
                  {% for adult_fr in adult_table_data_first_row %}
                    {% if forloop.index == 5 %}
                      <td class="data_adult">{{ adult_fr }}</td>
                    {% endif %}
                  {% endfor %}
                  {% for adult_sr in adult_table_data_second_row %}
                    {% if forloop.index == 5 %}
                      <td class="data_adult">{{ adult_sr }}</td>
                    {% endif %}
                  {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      </div>  
    </div>
  </div>
</section>

<div class="overlay hidden"></div>


<script>
const modal = document.querySelector(".modal");
const overlay = document.querySelector(".overlay");
const openModalBtn = document.querySelector(".btn-open");
const closeModalBtn = document.querySelector(".btn-close");
const body = document.querySelector("body");

const openModal = function () {
  modal.classList.remove("hidden");
  overlay.classList.remove("hidden");
  body.style.overflow = "hidden";
};

const closeModal = function () {
  modal.classList.add("hidden");
  overlay.classList.add("hidden");
  body.style.overflow = "visible";
};

overlay.addEventListener("click", closeModal);
closeModalBtn.addEventListener("click", closeModal);
openModalBtn.addEventListener("click", openModal);

// Modal tab
function openCity(cityName) {

  var i;
  var x = document.getElementsByClassName("city");
  var tabs = document.getElementsByClassName("tab_button");

  for (i = 0; i < x.length; i++) {
  x[i].style.display = "none";  
  }

  for (i = 0; i < tabs.length; i++) {
      tabs[i].classList.remove("active_modal_tab");
  }

  document.getElementById(cityName).style.display = "block";  
  document.getElementById(`tab_${cityName}`).classList.add("active_modal_tab");  
}
</script>