<style>
  .size__grid-container {
display: grid;
grid-template-columns: repeat(5, 52px);
grid-template-rows: 1fr;
grid-column-gap: 23px;
grid-row-gap: 21px;
width: 100%;
}


.product_button_size .radioproduct_label,
.product_button_size input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product_button_size input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}
.product_button_size {
  display: flex;
  width: 52px;
  height: 50.645px;
  padding: 15.414px 13px;
  justify-content: center;
  align-items: center;
  gap: 11.01px;
  border-radius: 7.707px;
  border: 1px solid #1F1F1F;
  position: relative;
}
label.btn.btn-default.radioproduct_label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F1F1F;

    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%; /* 27.2px */
}
.product_button_size input[type="radio"]:checked + .radioproduct_label {
  background: var(--background-btn-redesign);
  border-radius: 7.707px; 
}

.product_button_size .radioproduct_label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
}
.parent_size_grid {
  max-width:  421px;
}
</style>
<div test class="custom-select" data-component="ProductSelect">
  {% comment %} <div class="select-styled product-select">{{ 'products.product.size' | t }}</div>
  <ul class="select-options">
    {% for variant in product.variants %}
        <li>{{ variant.title }}</li>
    {% endfor %}
  </ul> {% endcomment %}
  <select id="originalSelect" class="hidden" data-option-main>
      {% for variant in product.variants %}
          <option value="{{ variant.id }}">{{ variant.title }}</option>
      {% endfor %}
  </select>
</div>
<div class="parent_size_grid">
  <div class="size__grid-container">
    {% for variant in product.variants %}
      {% assign clean_size = variant.title | replace: "Youth - ", "Y" | replace: "Adult - ", "" | replace: " ", "" %}
      <div class="button product_button_size" data-variant-id="{{ variant.id }}">
        <input  type="radio" id="a{{ variant.id }}" name="check-substitution-2" value="{{ variant.id }}" class="variant-radio" />
        <label class="btn btn-default radioproduct_label" for="a{{ variant.id }}">{{ clean_size }}</label>
      </div>
    {% endfor %}
  </div>
  
</div>
<div class="size__container">
  <button id="openSizeGuide" class="size__chart btn btn-open">{{ size_guide_label }}</button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var buttons = document.querySelectorAll('.size__grid-container .button');

    var originalSelect = document.querySelector('#originalSelect[data-option-main]');
    buttons.forEach(function(item, index) {
      item.addEventListener('click', function() {
          var value = originalSelect.options[index].value;
            var variantId = this.getAttribute('data-variant-id');
            console.log(value)
            var radio = document.getElementById('a' + variantId);
            
            // Check the radio button and update the originalSelect value
            radio.checked = true;
            originalSelect.value = radio.value;
            document.querySelector('[data-submit-bundle]').removeAttribute('disabled');
        });
    });
    var labels = document.querySelectorAll('.cursor-pointer');
    var buttonBuy = document.getElementById('buy_as_gift');
    // Add click event listener to each label
    labels.forEach(function(label) {
      label.addEventListener('click', function() {
        // Get the value of the data-membership attribute
        var membershipValue = label.getAttribute('data-membership');
        if (membershipValue === 'Monthly') {
            buttonBuy.classList.add('grayed-out');
            buttonBuy.disabled = true;
            buttonBuy.setAttribute('disabled', 'true');
          } else {
            buttonBuy.classList.remove('grayed-out');
            buttonBuy.disabled = false;
            buttonBuy.removeAttribute('disabled');
          }
      });
    });
});
</script>

