{% assign selected_blog = section.settings.blog %}

<section id="blog-{{section.id}}" class="mb-4{% if section.settings.spacing %} mt-2.5{% endif %} max-w-screen-lg mx-auto px-5 lg:px-[25px]">
  <div class="max-w-screen-xl mx-auto px-2.5 lg:px-10">
    <div class="flex items-center mb-4 sm:mb-6{% if section.settings.title == blank %} sm-down:hidden{% endif %} heading_container">
      <div>
      {% if section.settings.title != blank %}
        <h2 class="text-30 article__title">{{ section.settings.title }}</h2>
      {% endif %}

        {% if section.settings.sub_heading != blank %}
          <p class="article_subheading">{{ section.settings.sub_heading }}</p>
        {% endif %}
      </div>


      <a href="{{ selected_blog.url | default: '#' }}" class="flex items-center ml-auto space-x-2 text-16 font-bold sm-down:hidden article__link_style">
        <span>{{ section.settings.button_text }}</span>
        {% comment %} {% render "icons", icon: "arrow-right", className: "!w-5 !h-5" %} {% endcomment %}
      </a>
    </div>

    <div class="relative new_blog">
      
      {% if selected_blog != blank and selected_blog.articles.size > 0 %}
        {% for article in selected_blog.articles limit:3 %}
          {% render "article-item-2024", article: article %}
        {% endfor %}
      {% else %}
        {% for i in (1..3) %}
          {% render "article-item-placeholder-2" %}
        {% endfor %}
      {% endif %}

    </div>
    <div class="blog_mobile">
      <swiper-container class="mySwiper" init="false">

        
      {% if selected_blog != blank and selected_blog.articles.size > 0 %}
        {% for article in selected_blog.articles limit:3 %}
          {% render "article-item-3", article: article %}
        {% endfor %}
      {% endif %}
   

      </swiper-container>
      <div class="blog__pagination">
        <div class="custom-pagination"></div>
      </div>
      
    </div>

    <div class="mt-10 sm:hidden mx-auto text-center">
      <a href="{{ selected_blog.url | default: '#' }}" class="Button">Read More Posts </a>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

  <script>
    const swiperEl = document.querySelector('swiper-container')
    Object.assign(swiperEl, {
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        el: '.custom-pagination', // Use custom pagination container
      clickable: true,
      renderBullet: function (index, className) {
        return '<span class="' + className + '"></span>';
      },
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView:3,
          spaceBetween: 50,
        },
      },
    });
    swiperEl.initialize();
  </script>

<style>
  
  swiper-container {
      width: 100%;
      height: 100%;
    }
    .blog__pagination {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  #blog-{{ section.id }}{
    padding-top: {{section.settings.padding_top}}px;
    padding-bottom: {{section.settings.padding_bottom}}px;
  }
    .heading_container{
      margin-bottom: 60px !important;
    }
  .new_blog {
    display: grid;
    grid-template-columns: 424px 676px;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    max-width: 1140px;
    margin: auto;
}
.article__link_style{
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  font-size: 14px !important;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  background: #00F0FF;
}
.article__title {
  margin-bottom: 24px !important;
  font-family: Anton;
  font-size: 48px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 52.8px */
  letter-spacing: -0.96px;
}
.article_subheading{

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}

.new_blog article:first-child { 
  grid-area: 1 / 1 / 3 / 2; 
}
.new_blog article:first-child .article_date_container{ 
  margin-top: 32px;
}

.new_blog article:first-child img{ 
  max-height: 340px;
  max-width: 424px;
  height: 340px;
}
.new_blog article:nth-child(2) { 
  grid-area: 1 / 2 / 2 / 3;
  column-gap: 32px;
  display: flex;
 }

 .new_blog article:nth-child(2) img { 
  width: 240px;
  /* height: 272.727px; */
 }
.new_blog article:last-child { 
  grid-area: 2 / 2 / 3 / 3; 
  display: flex;
  column-gap: 32px;
}

.new_blog article:last-child img { 
  width: 240px;
  /* height: 272.727px; */
}
.blogs__description {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.data_article {
  display: flex;
  padding: 7px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  border-radius: 30px;
  background: #00F0FF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; 
  margin-bottom: 15px !important;
}
.article__heading{
  font-family: Anton;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.48px;
  margin: 0;
  margin-bottom: 26px !important;
}
.artcile__description{
  color:  #000;
  font-family: Roboto;
  font-size: 16px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.article__link {
  margin: 0;
  margin-top: 26px !important;
}
.image_container, .image__link-container{
  height: 100%;
}
.article_readmore{

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; 
border-bottom: 2px solid #00F0FF;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00F0FF;
  display: block !important;
}
span.swiper-pagination-bullet {
  display: block;
  width: 8px;
  border-radius:50%;
  height: 8px;
  background-color: #D0D0D0;
}
.custom-pagination{
    display:flex;
    align-items:center;
    column-gap:5px;
}
@media screen and  (max-width: 1024px) {
  .relative.new_blog {
    grid-template-columns: 40% 60% !important;
  }

  .relative.new_blog {
    grid-template-columns: 40% 60%;
  }

  .new_blog article:nth-child(2) .rounded-8.blogs__image {
      /* flex-basis: 50% !important; */
      width: 50%;
  }
  .new_blog article:nth-child(2)  .artcile__description ,  .new_blog article:nth-child(2)  .article__heading{
    width: 100% !important;
    max-width: 90% !important;
  }
  .new_blog article:nth-child(2) .blogs__description {
    width: 50%;
  }

  .new_blog article:nth-child(2) img {
  width:100% !important;
  }
  .new_blog article:last-child img {
  width:100% !important;
  }
  .new_blog article:last-child .rounded-8.blogs__image {
      /* flex-basis: 50% !important; */
      width: 50%;
  }
  .new_blog article:last-child  .artcile__description ,  .new_blog article:nth-child(2)  .article__heading{
    width: 100% !important;
    max-width: 90% !important;
  }
  .new_blog article:last-child .blogs__description {
    width: 50%;
  }

  .new_blog article:last-child img {
  width:100% !important;
  }
  .new_blog article:last-child img {
  width:100% !important;
  }
}
.blog_mobile {
      display: none;
}
@media screen and  (max-width: 768px) { 
  .new_blog,.article__link_style{
      display: none;
  }
  .blog_mobile {
    display: block;
  }
  .heading_container {
    text-align: center;
    justify-content: center;
  }
}
</style>


{% schema %}
{
  "name": "Blogs 2",
  "settings": [
    {
      "type": "checkbox",
      "id": "spacing",
      "label": "Add top spacing",
      "default": true
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button label",
      "default": "Read More Posts"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top px",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom px",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48
    }
  ],
  "presets": [
    {
      "name": "Blogs 2",
      "settings": {
        "spacing": false,
        "title": "Related Stories"
      }
    }
  ]
}
{% endschema %}