<style>
  .outofstock_message {
  	width: 100%;
  	margin-top: 20px;
  }

  .Product__Description{
  	margin-top: 2rem;
  }

  .text-product-subtitle {
  	color: rgb(1, 33, 48);
  }

  .border-0 {
    border-width: 0px !important;
  }

  @media only screen and (min-width: 749px){
  	.outofstock_message {
  		width: 327.5px;
  	}
  }
</style>

<section class="Product py-5 md:py-20" data-component="Product">
  <div class="max-w-screen-lg mx-auto px-3.5 xs:px-7.5 lg:px-[25px]">
    <div class="mb-4 md:hidden">
      {% if product.metafields.meta.subtitle != blank %}
        <div class="text-16 text-product-subtitle font-bold">
          {{ product.metafields.meta.subtitle }}
        </div>
      {% endif %}

      <h1 class="text-24 font-body font-bold tracking-normal">
        {{ product.title }}
      </h1>
    </div>

    <div class="md:flex">
      <div class="Product__Gallery" data-component="ProductCarousel">
        <div class="GalleryMain" data-gallery="main">
          <ul class="GalleryMain__Wrapper">
            {% for media in product.media %}
              <li class="GalleryMain__Slide">
                {% if media.media_type == 'image' %}
                  <div class="aspect-h-10 aspect-w-12">
                    {{
                      media
                      | image_url: width: 1200
                      | image_tag:
                        loading: 'lazy',
                        class: 'object-cover',
                        sizes: '(min-width: 768px) 640w, 1280w',
                        widths: '400, 600, 800, 1200, 1600, 2000, 2400, 3200, 3800'
                    }}
                  </div>
                {% endif %}

                {% if media.media_type == 'external_video' %}
                  <div class="aspect-h-10 aspect-w-12">
                    {{
                      media
                      | external_video_tag: class: 'object-cover', loop: '1', muted: '1', autoplay: '1', loading: 'lazy'
                    }}
                  </div>
                {% endif %}

                {% if media.media_type == 'video' %}
                  <div class="aspect-h-10 aspect-w-12">
                    {{
                      media
                      | video_tag: class: 'object-cover', loop: '1', muted: '1', autoplay: '1', loading: 'lazy'
                    }}
                  </div>
                {% endif %}

                {% if media.media_type == 'model' %}
                  <div class="aspect-h-10 aspect-w-12">
                    {{ media | model_viewer_tag }}
                  </div>
                {% endif %}
              </li>
            {% else %}
              <li class="GalleryMain__Slide">
                <div class="aspect-h-10 aspect-w-12">
                  {{ 'product-1' | placeholder_svg_tag }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="GalleryThumbs" data-gallery="thumbs">
          <ul class="GalleryThumbs__Wrapper">
            {% for media in product.media %}
              {% liquid
                assign is_video = false
                if media.media_type == 'external_video' or media.media_type == 'video'
                  assign is_video = true
                endif
              %}

              <li class="GalleryThumbs__Slide{% if is_video %} relative isVideo{% endif %}">
                <div class="aspect-h-10 aspect-w-12">
                  {{
                    media
                    | image_url: width: 400
                    | image_tag: loading: 'lazy', class: 'object-cover', sizes: '', widths: '200, 400'
                  }}
                </div>

                {% if is_video %}
                  <div class="absolute z-20 top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4 text-product-subtitle">
                    {% render 'icons', icon: 'play', size: 'large', className: 'sm-down:!w-9 sm-down:!h-9' %}
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>

          <button
            type="button"
            class="GalleryThumbs__Button GalleryThumbs__Button--previous"
          >
            &lt;
          </button>

          <button
            type="button"
            class="GalleryThumbs__Button GalleryThumbs__Button--next"
          >
            &gt;
          </button>
        </div>
      </div>

      <div class="Product__Info">
        {% if product.metafields.meta.subtitle != blank %}
          <div class="text-16 font-bold md-down:hidden">
            {{ product.metafields.meta.subtitle }}
          </div>
        {% endif %}

        <h2 class="text-24 font-body font-bold tracking-normal md-down:hidden">
          {{ product.title }}
        </h2>

        {% if product.description != blank %}
          <div class="Product__Description rte">
            {{ product.description }}
          </div>
        {% endif %}

        {% if product.metafields.meta.list != blank %}
          <div class="flex flex-wrap mt-6">
            {% for item in product.metafields.meta.list.value %}
              <div class="font-bold w-full md:w-auto">{{ item }}</div>

              {% unless forloop.last %}
                <span
                  class="w-0.5 h-3 bg-brand-tertiary mx-4 self-center md-down:hidden"
                ></span>
              {% endunless %}
            {% endfor %}
          </div>
        {% endif %}

        {% form 'product', product, class: 'space-y-7 md:max-w-[335px]' %}
          {% render 'product-price', highest_price: true %}
          {% if product.available %}
            {%
              render 'product-options',
              youth_first_row_heading: section.settings.youth_first_row_heading,
              youth_first_column_heading: section.settings.youth_first_column_heading,
              youth_table_data_first_row: section.settings.youth_table_data_first_row ,
              youth_table_data_second_row: section.settings.youth_table_data_second_row,

              adult_first_row_heading: section.settings.adult_first_row_heading,
              adult_first_column_heading: section.settings.adult_first_column_heading,
              adult_table_data_first_row: section.settings.adult_table_data_first_row ,
              adult_table_data_second_row: section.settings.adult_table_data_second_row,
            %}
            {% render 'product-quantity' %}
          {% endif %}

          {% if product.has_only_default_variant %}
            {% if product.available %}
              <button
                type="submit"
                class="Button Button--primary md:h-15 md:!text-base md:!w-auto Button--blue border-0"
              >
                {{ 'products.product.add_to_cart' | t }}
              </button>
            {% endif %}
          {% else %}
            <button
              type="submit"
              class="Button Button--primary md:h-15 md:!text-base md:!w-auto Button--blue border-0"
              disabled
              id="hasVariantBtn"
            >
              {{ 'products.product.add_to_cart' | t }}
            </button>
          {% endif %}
        {% endform %}

        {% if product.available == false %}
          <div class="TextBlocks_Slide swiper-slide-next outofstock_message">
            <h5 style="font-family: 'Montserrat', sans-serif; font-size:16px; text-align:center">
              <p>OUT OF STOCK</p>
            </h5>
          </div>
        {% endif %}

        {% if product.metafields.meta.text != blank %}
          <div class="text-16 font-bold mt-6 sm:mt-4">
            {{ product.metafields.meta.text }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% liquid
  assign video = section.blocks | where: 'type', 'video' | first
  assign details = section.blocks | where: 'type', 'details'
  assign blank_details = details | map: 'settings' | where: 'text', ''

  unless blank_details.size == details.size
    render 'product-details', blocks: details
  endunless

  if video
    render 'product-video', section: section, block: video
  endif
%}

{% schema %}
{
  "name": "Product",
	"settings": [
		{
			"type": "header",
			"content": "Youth content"
		},
		{
			"type": "textarea",
			"id": "youth_first_row_heading",
			"label": "First row heading",
			"default": "Heading 1,Heading 2,Heading 3",
			"info": "Limit 3"
		},
		{
			"type": "textarea",
			"id": "youth_first_column_heading",
			"label": "First column heading",
			"default": "Heading 4, Heading 5",
			"info": "Limit 2 Data"
		},
		{
			"type": "textarea",
			"id": "youth_table_data_first_row",
			"label": "First Youth Data - Chest (INCH)",
			"default": "value 1,value 2,value 3",
			"info": "Limit 3 Data"
		},
		{
			"type": "textarea",
			"id": "youth_table_data_second_row",
			"label": "Second Youth Data - Chest (CM)",
			"default": "value 4,value 5,value 6",
			"info": "Limit 3 Data"
		},
		{
			"type": "header",
			"content": "Adult content"
		},
		{
			"type": "textarea",
			"id": "adult_first_row_heading",
			"label": "Adult first row heading (limit 3 data)",
			"default": "Heading 1,Heading 2,Heading 3,Heading 4,Heading 5",
			"info": "Limit 5 Data"
		},
		{
			"type": "textarea",
			"id": "adult_first_column_heading",
			"label": "First column heading",
			"default": "Heading 6, Heading 7",
			"info": "Limit 2 Data"
		},
		{
			"type": "textarea",
			"id": "adult_table_data_first_row",
			"label": "First Adult Data",
			"default": "value 1,value 2,value 3,value 4,value 5",
			"info": "Limit 5 Data"
		},
		{
			"type": "textarea",
			"id": "adult_table_data_second_row",
			"label": "Second Adult Data",
			"default": "value 6,value 7,value 8,value 9,value 10",
			"info": "Limit 5 Data"
		}
	],
  "blocks": [
    {
      "type": "details",
      "name": "Details",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Product details"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "video",
      "name": "Video",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Video Title"
        },
        {
          "type": "video_url",
          "id": "video",
          "accept": [
            "youtube"
          ],
          "label": "Video"
        }
      ]
    }
  ]
}
{% endschema %}
