{% liquid

  assign review = section.blocks | where: "type", "review" | first
%}
{% assign checkout_process_params = "?handle=" | append: product.handle %}
<section test_hello-2 class="Product py-6 md:py-14" data-component="Product">
  <div class="max-w-screen-lg mx-auto px-3.5 xs:px-7.5 lg:px-[25px]">
    {% comment %} {% unless product.handle contains 'new-gps-team-bundle' %}
      <div class="mb-4 sm:hidden">
        <h1 class="text-24 font-body font-bold tracking-normal">
          {{ "products.product.order" | t }} {{ product.title }}
        </h1>

        {% if product.metafields.meta.subtitle != blank %}
          <h2 class="text-base font-body font-bold tracking-normal">
            {{ product.metafields.meta.subtitle }}
          </h2>
        {% endif %}
      </div>
    {% endunless %} {% endcomment %}

    <div class="md:flex">
      <div class="Product__Gallery" data-component="ProductCarousel">
        <div class="GalleryMain" data-gallery="main">
          <ul class="GalleryMain__Wrapper">
            {% for media in product.media %}
              <li class="GalleryMain__Slide">
                {% if media.media_type == "image" %}
                  <div class="aspect-h-10 aspect-w-12">
                    {{ media | image_url: width: 1200 | image_tag:
                      loading: "lazy",
                      class: "object-cover",
                      sizes: "(min-width: 768px) 640w, 1280w",
                      widths: "400, 600, 800, 1200, 1600, 2000, 2400, 3200, 3800"
                    }}
                  </div>
                {% endif %}

                {% if media.media_type == "external_video" %}
                  <div class="aspect-h-10 aspect-w-12">
                    {{ media | external_video_tag: class: "object-cover", loop: "1", muted: "1", autoplay: "1", loading: "lazy" }}
                  </div>
                {% endif %}

                {% if media.media_type == "video" %}
                  <div class="aspect-h-10 aspect-w-12">
                    {{ media | video_tag: class: "object-cover", loop: "1", muted: "1", autoplay: "1", loading: "lazy" }}
                  </div>
                {% endif %}

                {% if media.media_type == "model" %}
                  <div class="aspect-h-10 aspect-w-12">
                    {{ media | model_viewer_tag }}
                  </div>
                {% endif %}
              </li>
            {% else %}
              <li class="GalleryMain__Slide">
                <div class="aspect-h-10 aspect-w-12">
                  {{ "product-1" | placeholder_svg_tag }}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="GalleryThumbs" data-gallery="thumbs">
          <ul class="GalleryThumbs__Wrapper">
            {% for media in product.media %}
              {% liquid
                assign is_video = false
                if media.media_type == "external_video" or media.media_type == "video"
                  assign is_video = true
                endif
              %}

              <li class="GalleryThumbs__Slide{% if is_video %} relative isVideo{% endif %}">
                <div class="aspect-h-10 aspect-w-12">
                  {{ media | image_url: width: 400 | image_tag:
                    loading: "lazy",
                    class: "object-cover",
                    sizes: "",
                    widths: "200, 400"
                  }}
                </div>

                {% if is_video %}
                  <div class="absolute z-20 top-2/4 left-2/4 transform -translate-x-2/4 -translate-y-2/4 text-brand-tertiary">
                    {% render "icons", icon: "play", size: "large", className: "sm-down:!w-9 sm-down:!h-9" %}
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>

          <button type="button" class="GalleryThumbs__Button GalleryThumbs__Button--previous">
            &lt;
          </button>

          <button type="button" class="GalleryThumbs__Button GalleryThumbs__Button--next">
            &gt;
          </button>
        </div>

        {% if product.handle contains 'new-gps-team-bundle' %}
          <div class="logo-wrapper">
            {% for block in section.blocks %}
              {% if block.settings.logo != blank %}
                <div class="logo-container">
                  <div class="logo">
                    {{ block.settings.logo }}
                    <span> {{ block.settings.logo-text }}</span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {% if product.handle contains 'new-gps-player-bundle' %}
          <div class="logo-wrapper desktop">
            {% for block in section.blocks %}
              {% if block.settings.logo != blank %}
                <div class="logo-container logo_border">
                  <div class="logo">
                    <img src="{{ block.settings.logo | img_url : 'master' }}" alt="">
                    <span> {{ block.settings.logo-text }}</span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="Product__Info">
        {% if section.settings.enable_checkout_process %}
          {% unless product.handle contains 'new-gps-player-bundle' or product.handle contains 'new-gps-team-bundle' %}
          <div class="space-y-6 mt-7 md:hidden">
              <a
                href="{{ section.settings.checkout_process_page.url }}"
                class="Button Button--sale !uppercase mb-4"
              >
                {% if product.metafields.membership.gift.value != blank %}
                  {{ "products.product.pre_order" | t }}
                {% else %}
                  {{ "products.product.pre_order" | t }}
                {% endif %}
              </a>
              {% if product.metafields.membership.gift.value != blank %}
                <a
                  href="{{ section.settings.checkout_process_page_gift.url | default: section.settings.checkout_process_page.url }}"
                  class="Button Button--tertiary !uppercase buy_gift"
                >
                  {{ "products.product.buy_gift" | t }}
                </a>
              {% endif %}
          </div>
          {% endunless %}
        {% endif %}

        <h2 class="text-50 uppercase text-brand-tertiary mb-2 product__titles" style="color:{{section.settings.title_color}}">
          {{ product.title }}
        </h2>

        {% if product.metafields.meta.subtitle != blank %}
          <h2 class="text-24 font-body font-bold tracking-normal mb-4">
            {{ product.metafields.meta.subtitle }}
          </h2>
        {% endif %}

        {% if product.handle contains 'new-gps-team-bundle' %}
        <h2 class="text-40 uppercase text-brand-tertiary mb-2 sm:hidden" style="color:{{section.settings.title_color}}">
          {{ product.title }}
        </h2>

        {% if product.metafields.meta.subtitle != blank %}
          <h2 class="text-24 font-body font-bold tracking-normal mb-4 sm:hidden">
            {{ product.metafields.meta.subtitle }}
          </h2>
        {% endif %}
          <a target="_blank" {% if section.settings.trustpilot == blank %} onclick="event.preventDefault();" {% endif %} class="trustpilot-review" href="{{ section.settings.trustpilot }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="138" height="27" viewBox="0 0 138 27" fill="none">
            <path d="M25.875 0H0V26.1474H25.875V0Z" fill="#00B67A"/>
            <path d="M53.9062 0H28.0312V26.1474H53.9062V0Z" fill="#00B67A"/>
            <path d="M81.9375 0H56.0625V26.1474H81.9375V0Z" fill="#00B67A"/>
            <path d="M109.969 0H84.0938V26.1474H109.969V0Z" fill="#00B67A"/>
            <path d="M138 0H125.062V26.1474H138V0Z" fill="#DCDCE6"/>
            <path d="M125.062 0H112.125V26.1474H125.062V0Z" fill="#00B67A"/>
            <path d="M12.9376 17.6239L16.8728 16.6162L18.5169 21.7367L12.9376 17.6239ZM21.9938 11.0054H15.0669L12.9376 4.41406L10.8083 11.0054H3.88135L9.4876 15.0909L7.3583 21.6822L12.9646 17.5967L16.4146 15.0909L21.9938 11.0054Z" fill="white"/>
            <path d="M40.9688 17.6239L44.904 16.6162L46.5481 21.7367L40.9688 17.6239ZM50.0251 11.0054H43.0981L40.9688 4.41406L38.8396 11.0054H31.9126L37.5188 15.0909L35.3896 21.6822L40.9958 17.5967L44.4458 15.0909L50.0251 11.0054Z" fill="white"/>
            <path d="M69.0001 17.6239L72.9353 16.6162L74.5794 21.7367L69.0001 17.6239ZM78.0563 11.0054H71.1294L69.0001 4.41406L66.8708 11.0054H59.9438L65.5501 15.0909L63.4208 21.6822L69.0271 17.5967L72.477 15.0909L78.0563 11.0054Z" fill="white"/>
            <path d="M97.0313 17.6239L100.967 16.6162L102.611 21.7367L97.0313 17.6239ZM106.088 11.0054H99.1606L97.0313 4.41406L94.9021 11.0054H87.9751L93.5814 15.0909L91.452 21.6822L97.0583 17.5967L100.508 15.0909L106.088 11.0054Z" fill="white"/>
            <path d="M125.063 17.6239L128.998 16.6162L130.642 21.7367L125.063 17.6239ZM134.119 11.0054H127.192L125.063 4.41406L122.933 11.0054H116.006L121.613 15.0909L119.483 21.6822L125.09 17.5967L128.54 15.0909L134.119 11.0054Z" fill="white"/>
          </svg>
          <span>
            {{ section.settings.trustpilot-text }}
          </span>
          </a>
        {% endif %}
        {% if review != blank %}
        <div class="hero__review__container review_mobile">
        <a  class="flex items-center review__container review__container--image review-2 w-full"{% if review.settings.review_url %} href=" {{ review.settings.review_url }}" {% endif %}>
          {% comment %} <p class="text-12 font-bold mb-2">{{review.settings.text_review}}</p> {% endcomment %}
          {% if review.settings.image_reviews != blank %}
            {{ review.settings.image_reviews | image_url: width: 600 | image_tag:
              loading: "lazy",
              class: "w-full h-auto max-w-[195px]",
              widths: "300, 600",
              alt: review.settings.image.alt | escape
            }}
          {% endif %}
          <div class="text-12 font-bold review_heading review_heading--color">{{review.settings.text_review}}</div>
          </a>
        </div>
        {% endif %}
        {% comment %} {% if product.description != blank %}
          <div class="Product__Description rte product__title">
            {{ product.description }}
          </div>
        {% else %}
    
   
        {% endif %}     {% endcomment %}
        <div class="Product__Description rte product__title">
          {{ product.metafields.custom.product_descriptions | metafield_tag }} 
      </div>
        {% if product.handle contains 'new-gps-player-bundle' %}
          <div class="mt-6 membership__parent-container">
            <div class="max-w-4xl mx-auto" data-checkout-process="membership">
              <p class="font-bold membership__heading__title">{{ "checkout_process.membership.member" | t }}</p>
              <div class="flex flex-wrap items-end gap-5 mt-4 membership_card-container">
                {% for membership_product in product.metafields.membership.products.value %}
                  {% liquid
                    assign selling_plan_group = membership_product.selling_plan_groups.first
                    assign selling_plan = selling_plan_group.selling_plans.first
                    assign membership_variant = membership_product.variants.first
                    assign membership_variant_paid = membership_variant

                    for variant in membership_product.variants
                      if settings.enable_preorder
                        if variant.metafields.membership.pre_order
                          assign membership_variant = variant
                          break
                        endif
                      else
                        unless variant.metafields.membership.pre_order
                          assign membership_variant = variant
                          break
                        endunless
                      endif
                    endfor
                  %}
                  <div class="w-full sm:grow sm:basis-0 sm:min-w-0  sm:max-w-sm sellingId newmember" >
                    <input
                      type="radio"
                      name="membership"
                      id="membership-{{ membership_product.id }}"
                      value="{{ membership_variant.id }}"
                      data-selling-plan-id="{{ selling_plan.id }}"
                      class="sr-only peer"
                      {% if forloop.first %}checked{% endif %} />

                    <label id="membership_1" data-membership="{{ membership_product.title | remove: " Membership" | strip }}" for="membership-{{ membership_product.id }}" class="block cursor-pointer border-2 border-solid peer-checked:border-brand-accent peer-checked:shadow-checked rounded-16">
                      {% if forloop.first %}
                        <div class="membership_badge-container">
                         <div class="selling-plan-group uppercase font-bold text-center text-white p-3 bg-brand-primary peer-checked:bg-brand-accent rounded-10 membership_badge">
                           {{ "checkout_process.membership.product_best_value" | t }}
                         </div>
                        </div>
                       {% endif %}
                      <div class="text-left membership__container">
                        <h3 class="text-16 font-body tracking-normal sm:text-24 membership_title">
                          {{ membership_product.title | remove: "Membership" }}
                        </h3>

                        {% if selling_plan_group.name contains "Annual" %}
                          {% assign annual_paid = membership_variant_paid.price | divided_by: 12 %}
                          <div class="flex items-center flex-row justify-start text-left flex-col membeship_price-container" >
                            <span class="font-heading text-50 sm:text-72 membership__price">
                             {{ membership_variant_paid.price | divided_by: 12 | money_without_trailing_zeros }}
                            </span>

                            <span class="font-bold text-16 leading-none sm:text-16 membership_permonth">
                             ({{ "checkout_process.membership.product_per_month_html" | t }})
                            </span>
                          </div>

                          <div class="capitalize membership_desc">
                            {% assign annual_price = membership_variant_paid.price | money_without_trailing_zeros %}
                            {{ "checkout_process.membership.annual.billed" | t: price: annual_price }}
                          </div>
                          <div class="capitalize membership_desc">
                            +{{ membership_variant_paid.price | minus: annual_paid | money_without_trailing_zeros }} {{ "checkout_process.membership.upfront" | t }}
                          </div>
                        {% elsif selling_plan_group.name contains "Monthly" %}
                          <div class="flex items-center flex-row justify-start text-left flex-col membeship_price-container">
                            <span class="font-heading text-50 sm:text-72 membership__price">
                              {{ membership_variant_paid.price | money_without_trailing_zeros }}
                            </span>

                            <span class="font-bold text-16 leading-none sm:text-16 membership_permonth">
                              ({{ "checkout_process.membership.product_per_month_html" | t }})
                            </span>
                          </div>

                          <div class="capitalize membership_desc">
                            {% assign monthly_price = membership_variant_paid.price | money_without_trailing_zeros %}
                             {{ "checkout_process.membership.monthly.billed" | t: price: monthly_price }}
                          </div>
                          <div class="capitalize membership_desc">
                            +{{ 5500 | money_without_trailing_zeros }} {{ "checkout_process.membership.upfront" | t }}
                          </div>
                        {% else %}
                          <div class="flex items-center justify-center text-left space-x-4 mt-2">
                            <span class="font-heading text-72">
                              {{ membership_variant_paid.price | money_without_trailing_zeros }}
                            </span>
                          </div>
                        {% endif %}
                      </div>
                    </label>
                  </div>
                {% else %}
                  <div class="grow basis-0 min-w-0 sm:w-1/2 sm:max-w-sm">
                    <div class="text-center p-7.5">
                      {{ "checkout_process.membership.empty" | t }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
        {% if product.handle contains 'new-gps-player-bundle' %}
          <div data-component="ProductSelection" class="mt-4">
          <p class="font-bold membership__heading__title vest_title">{{ "checkout_process.membership.vest" | t }}</p>
            {% form "product", product, class: "w-full" %}
              {% render "product-item-select-2", product: product, bundle: true, size_guide_label: section.settings.size_guide_label, size_guide_link: section.settings.size_guide_link%}
            {% endform %}
          </div>
        {% endif %}
        {% if product.metafields.meta.list != blank %}
          <div class="flex flex-wrap mt-6">
            {% for item in product.metafields.meta.list.value %}
              <div class="font-bold w-full sm:w-auto">{{ item }}</div>
              {% unless forloop.last %}
                <span class="w-0.5 h-3 bg-brand-tertiary mx-4 self-center sm-down:hidden"></span>
              {% endunless %}
            {% endfor %}
          </div>
        {% endif %}

        {% if section.settings.enable_checkout_process %}
          {% if product.handle contains 'new-gps-player-bundle' %}
            <div class="space-y-6 mt-7 flex md:space-y-0  add_to_cart-container">
              <button
                class="Button Button--sale text-base md:!w-auto add_tocart_button"  
                data-submit-bundle
                disabled
              >
                {% if product.metafields.membership.gift.value != blank %}
                  {{ "products.product.pre_order" | t }}
                {% else %}
                  {{ "products.product.pre_order" | t }}
                {% endif %}
              </button>
              {% if product.metafields.membership.gift.value != blank %}
                <a
                  id="buy_as_gift"
                  href="{{ section.settings.checkout_process_page_gift.url | default: section.settings.checkout_process_page.url }}"
                  class="md:!text-base btnBorder add_tocart_button"
                >
                  {{ "products.product.buy_gift" | t }}
                </a>
              {% endif %}
            </div>
            {% if product.handle contains 'new-gps-player-bundle' %}
              <div class="Product__Gallery">
                <div class="logo-wrapper mobile">
                  {% for block in section.blocks %}
                    {% if block.settings.logo != blank %}
                      <div class="logo-container logo_border">
                        <div class="logo">
                          <img src="{{ block.settings.logo | img_url : 'master' }}" alt="">
                          <span> {{ block.settings.logo-text }}</span>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
            {% else %}
              <div class="space-y-6 mt-7 md:flex md:space-y-0">
                {% unless product.handle contains 'new-gps-team-bundle' %}
                  <a
                    href="{{ section.settings.checkout_process_page.url }}"
                    class="Button Button--sale !uppercase md:hidden"
                  >
                    {{ "products.product.pre_order" | t }}
                  </a>
                {% endunless %}
                {% if product.handle contains 'new-gps-team-bundle' %}
                <div class="buttons-wrapper">
                  <div class="book-btn-container">

                      <a target="_blank" href="{{ section.settings.custom-url }}" class="Button--book">

                        <svg width="25" height="29" viewBox="0 0 25 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_8973_38407)">
                        <path d="M6.96749 0.710938C7.91571 0.710938 8.68178 1.47701 8.68178 2.42522V4.13951H15.5389V2.42522C15.5389 1.47701 16.305 0.710938 17.2532 0.710938C18.2014 0.710938 18.9675 1.47701 18.9675 2.42522V4.13951H21.5389C22.9586 4.13951 24.1104 5.2913 24.1104 6.71094V9.28237H0.110352V6.71094C0.110352 5.2913 1.26214 4.13951 2.68178 4.13951H5.25321V2.42522C5.25321 1.47701 6.01928 0.710938 6.96749 0.710938ZM0.110352 10.9967H24.1104V25.5681C24.1104 26.9877 22.9586 28.1395 21.5389 28.1395H2.68178C1.26214 28.1395 0.110352 26.9877 0.110352 25.5681V10.9967ZM3.53892 15.2824V16.9967C3.53892 17.4681 3.92464 17.8538 4.39607 17.8538H6.11035C6.58178 17.8538 6.96749 17.4681 6.96749 16.9967V15.2824C6.96749 14.8109 6.58178 14.4252 6.11035 14.4252H4.39607C3.92464 14.4252 3.53892 14.8109 3.53892 15.2824ZM10.3961 15.2824V16.9967C10.3961 17.4681 10.7818 17.8538 11.2532 17.8538H12.9675C13.4389 17.8538 13.8246 17.4681 13.8246 16.9967V15.2824C13.8246 14.8109 13.4389 14.4252 12.9675 14.4252H11.2532C10.7818 14.4252 10.3961 14.8109 10.3961 15.2824ZM18.1104 14.4252C17.6389 14.4252 17.2532 14.8109 17.2532 15.2824V16.9967C17.2532 17.4681 17.6389 17.8538 18.1104 17.8538H19.8246C20.2961 17.8538 20.6818 17.4681 20.6818 16.9967V15.2824C20.6818 14.8109 20.2961 14.4252 19.8246 14.4252H18.1104ZM3.53892 22.1395V23.8538C3.53892 24.3252 3.92464 24.7109 4.39607 24.7109H6.11035C6.58178 24.7109 6.96749 24.3252 6.96749 23.8538V22.1395C6.96749 21.6681 6.58178 21.2824 6.11035 21.2824H4.39607C3.92464 21.2824 3.53892 21.6681 3.53892 22.1395ZM11.2532 21.2824C10.7818 21.2824 10.3961 21.6681 10.3961 22.1395V23.8538C10.3961 24.3252 10.7818 24.7109 11.2532 24.7109H12.9675C13.4389 24.7109 13.8246 24.3252 13.8246 23.8538V22.1395C13.8246 21.6681 13.4389 21.2824 12.9675 21.2824H11.2532ZM17.2532 22.1395V23.8538C17.2532 24.3252 17.6389 24.7109 18.1104 24.7109H19.8246C20.2961 24.7109 20.6818 24.3252 20.6818 23.8538V22.1395C20.6818 21.6681 20.2961 21.2824 19.8246 21.2824H18.1104C17.6389 21.2824 17.2532 21.6681 17.2532 22.1395Z" fill="black"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_8973_38407">
                        <rect width="24" height="27.4286" fill="white" transform="translate(0.110352 0.710938)"/>
                        </clipPath>
                        </defs>
                        </svg>

                        <strong> Book an online demo</strong>
                      </a>
                  </div>
                  <div class="buttons-container">
                    <a
                      href="#register-section"
                      class="Button Button--contact Button--sale md:h-15 md:!text-base md:!w-auto"
                    >
                      Contact Sales
                    </a>
                    {% if section.settings.download-link != blank %}
                      <a
                        download
                        target="_blank"
                        href="{{ section.settings.download-link }}"
                        class="Button--download md:!text-base btnBorder"
                      >
                        Download Brochure
                      </a>
                    {% endif %}
                  </div>
                </div>
                {% else %}
                  <a
                    href="{{ section.settings.checkout_process_page.url }}"
                    class="Button Button--sale !uppercase md-down:hidden md:h-15 md:!text-base md:!w-auto"
                  >
                    {{ "products.product.pre_order" | t }}
                  </a>
                {% endif %}

                {% if product.metafields.membership.gift.value != blank %}
                  <a
                    href="{{ section.settings.checkout_process_page_gift.url | default: section.settings.checkout_process_page.url }}"
                    class="Button Button--tertiary !uppercase md:h-15 md:!text-base md:!w-auto md:ml-7.5"
                  >
                    {{ "products.product.buy_gift" | t }}
                  </a>
                {% endif %}
              </div>
          {% endif %}
        {% else %}
          {% if section.settings.button != blank %}
            <a
              href="{{ section.settings.button_url }}"
              class="Button Button--primary Button--large !uppercase mt-7 md:!w-auto"
              style="
                color: {{ section.settings.button_color | default: '' }};
                background-color: {{ section.settings.button_background_color | default: '' }};
                border-color: {{ section.settings.button_background_color | default: '' }};
              "
            >
              {{ section.settings.button }}
            </a>
          {% else %}
            {% form "product", product %}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

              <button type="submit" class="Button Button--primary Button--large !uppercase mt-7 md:!w-auto">
                {{ "products.product.add_to_cart" | t }}
              </button>
            {% endform %}
          {% endif %}
        {% endif %}

        

        {% if product.metafields.meta.text != blank %}
          <div class="text-16 font-bold text-neutral-500 mt-6 md-down:text-center md:text-inherit">
            {{ product.metafields.meta.text }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{%  render 'player-modal', 
youth_first_row_heading: section.settings.youth_first_row_heading ,
youth_first_column_heading: section.settings.youth_first_column_heading, 
youth_table_data_first_row: section.settings.youth_table_data_first_row ,
youth_table_data_second_row: section.settings.youth_table_data_second_row,

adult_first_row_heading: section.settings.adult_first_row_heading ,
adult_first_column_heading: section.settings.adult_first_column_heading, 
adult_table_data_first_row: section.settings.adult_table_data_first_row ,
adult_table_data_second_row: section.settings.adult_table_data_second_row,


%}

{% schema %}
{
  "name": "Product",
  "settings": [
    {
      "type": "header",
      "content": "Checkout process"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#000"
    },
    {
      "type": "checkbox",
      "id": "enable_checkout_process",
      "label": "Enable",
      "default": false
    },
    {
      "type": "text",
      "id": "size_guide_label",
      "label": "Size guide label",
      "default": "Size Guide",
      "info": "work only for GPS PLAYER BUNDLE"
    },
    {
      "type": "header",
      "content": "Youth content"
    },
    {
      "type": "textarea",
      "id": "youth_first_row_heading",
      "label": "First row heading",
      "default": "Heading 1,Heading 2,Heading 3",
      "info": "Limit 3"
    },
    {
      "type": "textarea",
      "id": "youth_first_column_heading",
      "label": "First column heading",
      "default": "Heading 4, Heading 5",
      "info": "Limit 2 Data"
    },
    {
      "type": "textarea",
      "id": "youth_table_data_first_row",
      "label": "First Youth Data - Chest (INCH)",
      "default": "value 1,value 2,value 3",
      "info": "Limit 3 Data"
    },
    {
      "type": "textarea",
      "id": "youth_table_data_second_row",
      "label": "Second Youth Data - Chest (CM)",
      "default": "value 4,value 5,value 6",
      "info": "Limit 3 Data"
    },
    {
      "type": "header",
      "content": "Adult content"
    },
    {
      "type": "textarea",
      "id": "adult_first_row_heading",
      "label": "Adult first row heading (limit 3 data)",
      "default": "Heading 1,Heading 2,Heading 3,Heading 4,Heading 5",
      "info": "Limit 5 Data"
    },
    {
      "type": "textarea",
      "id": "adult_first_column_heading",
      "label": "First column heading",
      "default": "Heading 6, Heading 7",
      "info": "Limit 2 Data"
    },
    {
      "type": "textarea",
      "id": "adult_table_data_first_row",
      "label": "First Adult Data",
      "default": "value 1,value 2,value 3,value 4,value 5",
      "info": "Limit 5 Data"
    },
    {
      "type": "textarea",
      "id": "adult_table_data_second_row",
      "label": "Second Adult Data",
      "default": "value 6,value 7,value 8,value 9,value 10",
      "info": "Limit 5 Data"
    },
    {
      "type": "page",
      "id": "checkout_process_page",
      "label": "Page for Pre-order"
    },
    {
      "type": "page",
      "id": "checkout_process_page_gift",
      "label": "Page for Gift"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Text",
      "default": "Register your interest"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Color"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "Background color"
    },
    {
      "type": "html",
      "id": "trustpilot-text",
      "label": "Trustpilot text",
      "info": "work only for GPS TEAM BUNDLE",
      "default": "TrustScore <strong>4.5 I </strong><u><strong>65</strong> reviews</u>"
    },
    {
      "type": "url",
      "id": "trustpilot",
      "label": "Trustpilot url",
      "info": "work only for GPS TEAM BUNDLE"
    },
    {
      "type": "url",
      "id": "custom-url",
      "label": "Book link",
      "info": "work only for GPS TEAM BUNDLE"
    },
    {
      "type": "url",
      "id": "download-link",
      "label": "Brochure",
      "info": "work only for GPS TEAM BUNDLE"
    }
  ],
  "blocks": [
    {
      "type": "html",
      "name": "Logos",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        },
        {
          "type": "text",
          "id": "logo-text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "review",
      "name": "Review",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "text_review",
          "label": "Text review"
        },
        {
          "type": "image_picker",
          "id": "image_reviews",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "review_url",
          "label": "Review link"
        }
      ]
    }
  ]
}
{% endschema %}
